<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments.html::header"></head>
<body>
<header th:insert="fragments.html::nav"></header>
<!-- 관리자만 접근할 수 있는 페이지 -->
<div class="container">
  <h1>관리자 페이지</h1>
  <h3>노트 게시 내역</h3>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div th:each="note : ${notes}">
        <p style="margin: 10px 0px;">
          <strong th:text="${note.title}"></strong>
          Posted by
          <strong th:if="${note.user}" th:text="${note.user.username}"></strong> on
          <strong th:text="${#temporals.format(note.createdAt, 'yyyy-MM-dd')}"></strong>
        </p>
      </div>
    </div>
  </div>
</body>
</html>