<!DOCTYPE HTML>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!-- fragment header를 정의합니다. -->
<head th:fragment="header">
  <title>스프링 시큐리티 예제</title>
  <meta charset="UTF-8"/>
  <link rel="shortcut icon" type="image/x-icon" href="/images/spring-security.png">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  >
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
  >
</head>
<body>
<!-- fragment navigation bar를 정의합니다. -->
<div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p
              class="nav-link active"
              sec:authorize="isAuthenticated()"
              sec:authentication="name">
            </p>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">홈</a>
          </li>
          <li class="nav-item">
            <!-- 관리자만 -->
            <a
              class="nav-link active"
              sec:authorize="hasAnyRole('ROLE_ADMIN')"
              th:href="@{/admin}"
            >
              관리자 페이지
            </a>
          </li>
          <li class="nav-item">
            <!-- 로그인한 사람 모두 -->
            <a
              class="nav-link active"
              sec:authorize="isAuthenticated()"
              th:href="@{/notice}"
            >
              공지사항
            </a>
          </li>
          <li class="nav-item">
            <!-- 유저만 -->
            <a
              class="nav-link active"
              sec:authorize="hasAnyRole('ROLE_USER')"
              th:href="@{/note}"
            >
              개인노트
            </a>
          </li>
          <li class="nav-item">
            <!-- 로그인 안한 사람만 -->
            <a
              class="nav-link active"
              sec:authorize="!isAuthenticated()"
              th:href="@{/login}"
            >
              로그인
            </a>
          </li>
          <li class="nav-item">
            <!-- 로그인 안한 사람만 -->
            <a
              class="nav-link active"
              sec:authorize="!isAuthenticated()"
              th:href="@{/signup}"
            >
              회원가입
            </a>
          </li>
          <li class="nav-item">
            <!-- 로그인한 사람만 -->
            <a
              class="nav-link active"
              sec:authorize="isAuthenticated()"
              th:href="@{/logout}"
            >
              로그아웃
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>